@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');

body {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 14px;
    color: #222;
}
a {
    color: inherit;
}

/* header PC */
.header {
    height: 70px;
    background: #000000;   
    position: relative;
}
.header > h1:nth-child(1) {
    width: 155px;
    height: 17px;
    position: absolute;
    top: 50%;
    left: 40px;
    transform: translate(0, -50%);
    color: #000;
}
.header .gnb .menu {
    position: absolute;
    top: 27px;
    right: 260px;
}
.header .gnb .menu > li {
    position: relative;
    padding: 0 30px 0 30px;
    text-align: center;
    float: left;
}
.header .gnb .menu > li > a {
    position: relative;
    z-index: 999;
    display: block;
    height: 70px;
}
.header .gnb .menu > li:hover ul {
    top: 40px;
    left: -33px;
    visibility: visible;
    opacity: 1;
    z-index: 999;
    display: block;
}
.header .gnb .menu a {
    color: #ffffff;
}
.header .gnb .menu li > ul {
    width: 200px;
    position: absolute;
    background: #000;
    display: none;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.header .gnb .menu li > ul > li {
    line-height: 50px;
}
.header .gnb .menu li > ul > li:last-child {
    padding-bottom: 15px;
}
.header .gnb > form {
    width: 230px;
    border-radius: 10px;
    background: #ffffff;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translate(0, -50%);
}
.header .gnb > form > fieldset > #search_box {
    margin-left: 10px;
    float: left;
    height: 40px;
    border: #ffffff;
}
.header .gnb > form > fieldset > #search_btn {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(0, -50%);
    float: right;   
}


/* footer PC */
.footer {

}
.footer .sns {
    padding-top: 60px;
    border-bottom: 1px solid #bfbfbf;
}
.footer .sns > div {
    width: 990px;
    margin: 0 auto;
}
.footer .sns > div > div {
    margin: 0 5px -1px 5px;
    float: left;
    width: 318px;
    height: 98px;
    border: 1px solid #bfbfbf;
    position: relative;
}
.footer .sns > div > div > a > img {
    position: absolute;
    top: 15px;
    left: 15px;
}
.footer .sns > div > div > a > div {
    position: absolute;
    top: 15px;
    left: 110px;
}
.footer .sns > div > div > a > div > p {
    font-weight: 600;
    line-height: 25px;
}
.footer .sns > div > div > a > div > span {
    font-size: 12px;
    line-height: 20px;
}

.footer .footer_menu {
    padding: 18px 0;
    text-align: center;
}
.footer .footer_menu > a {
    font-weight: 600;
    margin: 0 20px;
}
.footer .footer_text {
    height: 293px;
    margin: 0 auto;
    position: relative;
    background: #373737;
}
.footer .footer_text > img {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%, 0);
}
.footer .footer_text > address {
    padding-top: 115px;
}
.footer .footer_text > address, p {
    color: #666666;
    line-height: 25px;
}