<!DOCTYPE html>
<html lang="ko">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>이지스퍼블리싱㈜</title>

    <!-- COMMON -->
    <link rel="stylesheet" href="../../src/css/common/reset.css">
    <link rel="stylesheet" href="../../src/css/common/basic.css">
    <link rel="stylesheet" href="../../src/css/common/common.css">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>

    <!-- THIS -->
    <link rel="stylesheet" href="../../src/css/00_Main/index.css">
    <script src="../../src/js/00_Main/slick.min.js"></script>
    <link rel="stylesheet" href="../../src/css/00_Main/slick.css">
    <script src="../../src/js/00_Main/index.js"></script>

    <script>
        $(function() {
            $(".visual_slider").slick({
                arrows: false,
                autoplay: true,
                fade: true,
                infinite: true,
                speed: 1000
            })
        });

        $(function() {
            $(".book_slider").slick({
                arrows: false,
                autoplay: true,
                speed: 2000,
                infinite: true,
                slidesToShow: 5,
                slidesToScroll: 3
            })
        });
    </script>
    <style>
    </style>

</head>

<body>

    <div id="wrapper" class="wrapper">

        <div class="top_banner">
            <a href="#"><img src="../../src/images/common/top_banner_img.png" alt=""></a>
            <a class="top_banner_close" href="#"><img src="../../src/images/common/top_banner_close.png" alt=""></a>
        </div>
        
        <header id="header" class="header">

            <h1><a href="#"><img src="../../src/images/common/logo.png" alt="이지스퍼블리싱㈜"></a>이지스퍼블리싱㈜</h1>

            <nav class="gnb">
                <h1 class="skip">전체메뉴</h1>
                <ul class="menu">
                    <li><a href="#">이지스 소개</a>
                        <ul>
                            <li><a href="../01_Company/01_About.html">회사소개</a></li>
                            <li><a href="#">출판사</a></li>
                            <li><a href="#">도서목록</a></li>
                            <li><a href="#">뉴스</a></li>
                            <li><a href="#">공지사항</a></li>
                            <li><a href="#">찾아오시는길</a></li>
                        </ul>
                    </li>
                    <li><a href="#">이지스 도서</a>
                        <ul>
                            <li><a href="#">전체보기</a></li>
                            <li><a href="#">분야별 보기</a></li>
                            <li><a href="#">시리즈 보기</a></li>
                            <li><a href="#">전자책 보기</a></li>
                            <li><a href="#">이지스 에듀</a></li>
                        </ul>
                    </li>
                    <li><a href="#">자료실</a></li>
                    <li><a href="#">묻고 답하기</a></li>
                    <li><a href="#">동영상 강의</a></li>
                </ul>
                <form name="search_form" action="#" method="get" id="search_form" class="cfixed">
                    <fieldset>
                        <legend class="skip">도서검색</legend>
                        <label for="search_box" class="skip">도서 검색어 입력</label>
                        <input type="search" id="search_box" class="text_box" placeholder="검색어를 입력해주세요.">
                        <input type="image" id="search_btn" src="../../src/images/common/search_icon.png" alt="검색">
                    </fieldset>
                </form>
            </nav>
        </header>

        <div id="contents" class="contents">
            
            <section class="main_visual">
                <h1 class="skip">비주얼 슬라이더</h1>
                <div class="visual_slider">
                    <div class="visual"><img src="../../src/images/00_Main/visual_img_01.jpg" alt=""></div>
                    <div class="visual"><img src="../../src/images/00_Main/visual_img_02.jpg" alt=""></div>
                </div>
            </section>

            <section class="book_list">
                <h1 class="skip">도서 목록</h1>
                <div class="book_slider">
                    <div class="book">
                        <img src="../../src/images/00_Main/book_list_img_01.png">
                        <div>
                            <p>Do it! Vue.js 입문</p>
                            <span>Vue.js 현업 개발자이자 국내 최초 Vus.js 전문 강사의 핵심 노하우 대공개! 실무자 3일 완성!<br>입문자 7일 완성! 바쁜 개발자의 시간 절약 입문서</span>
                        </div>
                    </div>
                    <div class="book">
                        <img src="../../src/images/00_Main/book_list_img_02.png">
                        <div>
                            <p>블록체인 무엇인가?</p>
                            <span>아마존 네트워크 분야 베스트셀러 1위!<br>전 세계 사람들이 가장 주목하는 블록체인 입문서, 드디어 국내 상륙!</span>
                        </div>
                    </div>
                    <div class="book">
                        <img src="../../src/images/00_Main/book_list_img_03.png">
                        <div>
                            <p>Do it! 스위프트로 아이폰 앱 만들기</p>
                            <span>코딩 몰라도 OK!<br>예제를 만들다 보면 기초 문법은 저절로! 사진, 지도, 카메라, 음악 재생등 모든것을 배운다.</span>
                        </div>
                    </div>
                    <div class="book">
                        <img src="../../src/images/00_Main/book_list_img_01.png">
                        <div>
                            <p>Do it! Vue.js 입문</p>
                            <span>Vue.js 현업 개발자이자 국내 최초 Vus.js 전문 강사의 핵심 노하우 대공개! 실무자 3일 완성!<br>입문자 7일 완성! 바쁜 개발자의 시간 절약 입문서</span>
                        </div>
                    </div>
                    <div class="book">
                        <img src="../../src/images/00_Main/book_list_img_02.png">
                        <div>
                            <p>블록체인 무엇인가?</p>
                            <span>아마존 네트워크 분야 베스트셀러 1위!<br>전 세계 사람들이 가장 주목하는 블록체인 입문서, 드디어 국내 상륙!</span>
                        </div>
                    </div>
                    <div class="book">
                        <img src="../../src/images/00_Main/book_list_img_03.png">
                        <div>
                            <p>Do it! 스위프트로 아이폰 앱 만들기</p>
                            <span>코딩 몰라도 OK!<br>예제를 만들다 보면 기초 문법은 저절로! 사진, 지도, 카메라, 음악 재생등 모든것을 배운다.</span>
                        </div>
                    </div>
                    <div class="book">
                        <img src="../../src/images/00_Main/book_list_img_07.png">
                        <div>
                            <p>Node.js 프로그래밍</p>
                            <span>웹 서버, 채팅 서버, 모바일 서버, 위치 기반 서비스 서버, JSON-RPC 서버까지! 지금 당장 서버가 필요하다면? 실제 서버로 구동 가능한 코드로 배워라!</span>
                        </div>
                    </div>
                    <div class="book">
                        <img src="../../src/images/00_Main/book_list_img_08.png">
                        <div>
                            <p>된다! 엑셀 능력자</p>
                            <span>엑셀 분야 1위!<br>데이터를 자유롭게 다루는 우리 사무실 고수들의 업무 기술 대공개!</span>
                        </div>
                    </div>
                </div>
            </section>

            <section class="board_area">
                <h1 class="skip">공지사항</h1>
                <div class="notice">
                    <div>
                        <a href="#">공지사항 / 이벤트</a>
                        <img src="../../src/images/00_Main/table_icon.png">
                        <a href="#">더보기 +</a>
                    </div>
                    <ul>
                        <li>
                            <span class="tag_01">마감</span>
                            <a href="#">[인스타그램 이벤트]-바빠 급수한자 7급, 마법한자판 무료 증정!</a>
                            <span>2019.02.26</span>
                        </li>
                        <li>
                            <span class="tag_02">공지</span>
                            <a href="#">새 학기를 맞이하여 이지스파블리온에서 신간과 베스트 도서를 추천합니다!</a>
                            <span>2019.02.13</span>
                        </li>
                        <li>
                            <span class="tag_01">마감</span>
                            <a href="#">[서평단 모집] Do it! 스위프트로 아이폰 앱 만들기 입문 - 개정 3판</a>
                            <span>2019.01.02</span>
                        </li>
                        <li>
                            <span class="tag_01">마감</span>
                            <a href="#">이지스파블리온 연하장 무료 나눔!</a>
                            <span>2018.12.31</span>
                        </li>
                        <li>
                            <span class="tag_01">마감</span>
                            <a href="#">[서평단 모집] 된다! 포토샵&amp;일러스트레이터 CC 2019</a>
                            <span>2018.12.06</span>
                        </li>
                        <li>
                            <span class="tag_01">마감</span>
                            <a href="#">[서평단 모집] 된다! 맥북&amp;아이맥-모하비판</a>
                            <span>2018.11.20</span>
                        </li>
                    </ul>
                </div>
                <div class="items">
                    <div class="item_01">
                        <img src="../../src/images/00_Main/link_img_01.png" alt="교재 샘플 / 강의 자료">
                        <p>교재 샘플 / 강의 자료</p>
                        <a href="#"><div>Read More</div></a>
                    </div>
                    <div class="item_02">
                        <img src="../../src/images/00_Main/link_img_02.png" alt="Do it! 스터디룸">
                        <p>Do it! 스터디룸</p>
                        <a href="#"><div>Read More</div></a>
                    </div>
                </div>
            </section>

        </div>

        <footer id="footer" class="footer">

            <div class="sns">
                <div class="cfixed">
                    <div>
                        <a href="#">
                            <img src="../../src/images/common/footer_sns_01.png" alt="페이스북">
                            <div>
                                <p>이지스파블리온 FACEBOOK</p>
                                <span>이지스의 소식을 빠르게<br>만나는 방법!</span>
                            </div>
                        </a>
                    </div>
                    <div>
                        <a href="#">
                            <img src="../../src/images/common/footer_sns_02.png" alt="트위터">
                            <div>
                                <p>이지스파블리온 TWITTER</p>
                                <span>이지스의 소식을 빠르게<br>만나는 방법!</span>
                            </div>
                        </a>
                    </div>
                    <div>
                        <a href="#">
                            <img src="../../src/images/common/footer_sns_03.png" alt="인스타그램">
                            <div>
                                <p>이지스파블리온 INSTAGRAM</p>
                                <span>이지스의 소식을 빠르게<br>만나는 방법!</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="footer_menu">
                <a href="#">찾아오시는 길</a>
                <a href="#">개인정보취급방침</a>
                <a href="#">이용약관</a>
            </div>
        
            <article>
                <h1 class="skip">푸터</h1>
                <img src="../../src/images/common/footer_logo.png" alt="이지스파블리온">
                <address align="center">(000-000) 서울시 영등포구 당산로 00길 99 W동 202호</address>
                <p align="center">TEL. (02)000-0000　　FAX. (02)000-0000　　E-mail. easys@easyspavlion.co.kr</p>
                <p align="center">대표자 : 김병수　　사업자등록번호 : 000-00-00000</p><br>
                <p align="center">Copyright(c)2019 이지스파블리온 Easyspavlion Co. Ltd. All Rights Reserved</p>
            </article>

        </footer>

    </div>

</body>

</html>