<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>이지스퍼블리싱㈜ 공식 사이트</title>

    <!-- 폰트 css -->
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet">
    
    <!-- 공통 css -->
    <link rel="stylesheet" type="text/css" href="../../src/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../../src/css/common.css">
    <link rel="stylesheet" type="text/css" href="../../src/css/index.css">

    <!-- 페이지 용 css -->
    <!-- <link rel="stylesheet" type="text/css" href="../../src/css/slick.css"> -->

</header>
<body class="page-about">
        <header id="header" class="header">
                <h1><a href="#"><img src="images/logo.png" alt="이지스퍼블리싱"></a>이지스퍼블리싱㈜</h1>
                <nav id="gnb">
                    <h1 class="hidden">메인메뉴</h1>
                    <ul class="menu cfixed">
                        <li class="d1"><a href="#">이지스 소개</a>
                            <ul class="d2">
                                <li><a href="#">회사소개</a></li>
                                <li><a href="#">출판사</a></li>
                                <li><a href="#">도서목록</a></li>
                                <li><a href="#">뉴스</a></li>
                                <li><a href="#">공지사항</a></li>
                                <li class="last_d2"><a href="#">찾아오시는길</a></li>
                            </ul>
                        </li>
                        <li class="d1"><a href="#">이지스 도서</a>
                            <ul class="d2">
                                <li><a href="#">전체보기</a></li>
                                <li><a href="#">분야별 보기</a></li>
                                <li><a href="#">시리즈 보기</a></li>
                                <li><a href="#">전자책 보기</a></li>
                                <li class="last_d2"><a href="#">이지스 에듀</a></li>
                            </ul>
                        </li>
                        <li class="d1"><a href="#">자료실</a></li>
                        <li class="d1"><a href="#">묻고 답하기</a></li>
                        <li class="d1"><a href="#">동영상 강의</a></li>git
                    </ul>
                    <form name="sform" action="#" method="get" id="sform" class="cfixed">
                        <fieldset>
                            <legend class="hidden">도서검색</legend>
                            <label for="sbox" class="hidden">도서 검색어 입력</label><input type="search" id="sbox" class="tbox"
                                placeholder="검색어를 입력해주세요.">
                            <input type="image" class="sbtn" src="images/search.png" alt="검색">
                        </fieldset>
                    </form>
                </nav>
            </header>
            <section class="sub">
                <div><img src="images/sub_about.jpg" alt="회사소개"><p>회사소개</p></div>
            </section>
            <article class="about_t group">이지스퍼블리싱(주) 소개</article>
            <div class="t_line"></div>
            <article class="about_01 group">
                <img src="images/about_01.jpg">
                <div>
                <p>"사람을 구체적으로 도와주는 책"</p>
                <span>이지스퍼블리싱(주)의 책에는 '사람들에게 구체적으로 도움이 되는 책'을 만든다는 출판 가치가 담겨 있습니다. 2010년 5월 출범한 이지스퍼블리싱(주)는 크게 두 영역의 책을 출간합니다. IT 실용도서와 학습 분야 도서입니다. IT 교재와 사진 책 등 실용서는 이지스퍼블리싱 브랜드로, 학습과 자녀교육 도서는 이지스에듀 브랜드로 출간하고 있습니다.</span>
                </div>
            </article>
            <div class="t_line"></div>
            <article class="about_02 group">
                <img src="images/about_02.jpg">
                <div>
                <p>"이지스퍼블리싱의 미션"</p>
                <span>사람에게 구체적으로 도움을 주는 책<br>우리는 열심히 사는 사람들에게 도움이 되고 싶습니다.<br>우리는 책을 출간하기 전에 질문할 것입니다.<br>"이 책이 사람들에게 도움이 됩니까?"<br><br>정보의 지름길을 만들어 빠르게 원하는 곳으로 가도록 도와주는 책.<br>손에 잡히는 이익을 얻을 수 있도록 도움이 되는 책을 만들고 싶습니다.</span>
                </div>
            </article>
            <div class="t_line"></div>
            <article class="about_03 group">
                <div>
                <p>조직관</p>
                <span>이지스퍼블리싱(주)에 참여하는 모든 사람에게 도움을 주고 싶습니다.<br>함께 참여해서 만드는 기쁨, 세상에 도움을 주는 뿌듯함을 느끼며 책을 만들고, 우리의 미래를 원하는 대로 스스로 만드는 터전.<br>기여한 바, 공정한 분배가 이루어지고 영광을 함께 나누는 곳. 그곳이 바로 이지스퍼블리싱(주)입니다.</span>
                </div>
            </article>
            <div class="t_line"></div>
            <article class="about_04 group">
                <div>
                <p>인재 채용</p>
                <span>이력서와 자기소개서 보낼 곳 : <a href="#">easy@easyspub.co.kr</a></span>
                </div>
            </article>
            <div class="t_line"></div>
            <article class="about_05 group">
                <p>관련 사이트 안내</p>
                <ul>
                    <li><a href="#">이지스퍼블리싱 홈페이지<span>></span></a></li>
                    <li><a href="#">이지스에듀 홈페이지<span>></span></li>
                    <li><a href="#">페이스북 페이지<span>></span></li>
                </ul>
                <ul>
                    <li><a href="#">이지스퍼블리싱 Do it! 스터디 카페<span>></span></li>
                    <li><a href="#">이지스에듀 카페<span>></span></li>
                    <li><a href="#">바빠 아지트 - 이지스쌤 만나기<span>></span></li>
                </ul>
            </article>

            <div id="sns">
                    <div class="sns_box cfixed">
                        <div class="sns_01 sns_n">
                            <a href="#"><img src="images/sns_01.png" alt="페이스북">
                                <div class="sns_text">
                                    <p>이지스파블리온 FACEBOOK</p><span>이지스의 소식을 빠르게<br>만나는 방법!</span>
                                </div>
                            </a>
                        </div>
                        <div class="sns_02 sns_n">
                            <a href="#"><img src="images/sns_02.png" alt="트위터">
                                <div class="sns_text">
                                    <p>이지스파블리온 TWITTER</p><span>이지스의 소식을 빠르게<br>만나는 방법!</span>
                                </div>
                            </a>
                        </div>
                        <div class="sns_03 sns_n">
                            <a href="#"><img src="images/sns_03.png" alt="인스타그램">
                                <div class="sns_text">
                                    <p>이지스파블리온 INSTAGRAM</p><span>이지스의 소식을 빠르게<br>만나는 방법!</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="f_menu">
                    <a href="#">찾아오시는 길</a>
                    <a href="#">개인정보취급방침</a>
                    <a href="#">이용약관</a>
                </div>
                <footer id="footer">
                    <article class="last_footer">
                        <img src="images/f_logo.png" alt="이지스파블리온">
                        <address align="center">(000-000) 서울시 영등포구 당산로 00길 99 W동 202호</address>
                        <p align="center">TEL. (02)000-0000　　FAX. (02)000-0000　　E-mail. easys@easyspavlion.co.kr</p>
                        <p align="center">대표자 : 김병수　　사업자등록번호 : 000-00-00000</p><br>
                        <p align="center">Copyright(c)2019 이지스파블리온 Easyspavlion Co. Ltd. All Rights Reserved</p>
                    </article>
                </footer>
            
    
</body>
</html>